<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="Main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script src="passwordPrototypes.js"></script>
    <script src="StringPrototypes.js"></script>
    <link rel="stylesheet" type="text/css" href="myStyle.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script>
        function color() {
            var strength = document.getElementById("passwordStrength").innerText;
            if ( strength === 'Your password is weak' ) {
                document.body.style.background = '#CB4335';
            } else if ( strength === 'Your password is medium'){
                document.body.style.background = '#F7DC6F';
            } else if ( strength === 'Your password is strong'){
                document.body.style.background = '#2ECC71';
            }
        }
    </script>

</head>
<body>

    <div ng-app = "app">
        <div ng-controller = "MainCtrl">

            <div class="container text-center">
                <div class="jumbotron">
                    <h2>HOW GOOD IS YOUR PASSWORD?</h2>
                    <h4>Enter your password</h4>
                    <h4>Click the button</h4>
                    <h4>If it's not strong enough, next page will teach you how to make a better one</h4>
                </div>
            </div>


            <div class="container text-center">
                <div id="theBox" class="panel panel-default" >
                    <div class="panel-body">
                        <p>Type your password:</p>
                        <p><input type="text" id="pwd" onKeyUp="color();" ng-model="name"/></p>
                        <h4 id="passwordStrength"> </h4>
                        <p type="button" class="btn btn-info" ng-click="checkPassword()">Check my password!</p>
                    </div>
                </div>
                <div>
                    <p><img id="imgCCk" name="imgCC" class="imgCC" src="{{getImage()}}"></p>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>