<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="Main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body>
    <p>Password meter for minors. Fun.</p>


    <!--
    <p>Upper case: <input type="text" id="upCase" readonly="true"></p>
    <p>Lower case: <input type="text" id="lowCase" readonly="true"></p>
    <p>Numbers: <input type="text" id="numbers" readonly="true"></p>
    <p>Symbols: <input type="text" id="symbols" readonly="true"></p> -->


    <div ng-app = "app">

        <div ng-controller = "MainCtrl">
            <p>Enter password: <input  type="text"  id="pwd" if="words" ng-model="name" oninput="highlightWords(this.value)"/></p>
            <button ng-click="checkPassword()">Check my password!</button>
            <p><img id="imgCCk" name="imgCC" class="imgCC" src="{{getImage()}}" style="float: right"></p>

            <div>
                <label>{{helpQuestion}}</label>
                <input  type="text"  id="newPwd" ng-model="password" />
                <label>{{helpQuestion2}}</label>
            </div>

            <div>
                <ul id="wordsUsedList" style="list-style-type: none; color: red"></ul>
            </div>

        </div>


    </div>


</body>
</html>