.ontop {
    opacity: 1.0;
}

#theBox {
    background-color: #eeeeee;
    outline-color: #eeeeee;
}

#betterBox {
    background-color: #d9edf7;
    outline-color: #d9edf7;
}

body {
    font-family: 'Oswald', sans-serif;
}