html *
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

.ontop {
    opacity: 1.0;
}

#minion {
    position: absolute;
}

#theBox {
    background-color: #eeeeee;
    outline-color: #eeeeee;
}

#betterBox {
    background-color: #d9edf7;
    outline-color: #d9edf7;
}

body {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}